<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="NewBinding0" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4711/DemoService" binding="basicHttpBinding"
                bindingConfiguration="NewBinding0" contract="EADN.Samples.Demo.Contracts.IDemo"
                name="ClientDeclarative" kind="" endpointConfiguration="">
                <identity>
                    <certificateReference storeName="My" storeLocation="LocalMachine"
                        x509FindType="FindBySubjectDistinguishedName" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>